.button button {
  background-color: #ef5b09;
  border: 1px solid #ef5b09;
}

@media (max-width: 768px) {
  .button button {
    width: 100%;
  }
  .button--actions button {
    padding: .15rem 0.2rem;
  }
}