.footer {
  background-color: #e3e3e3;
  color: #524f4f;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;  
  display: flex;
  padding: 10px 15px;
}

/* @media (max-height: 650px) {
  .footer {
    position: inherit;
  }
}  */