.actions {
  vertical-align: middle;
}

.actions__set {
  display: flex;
  flex-direction: row;
}

.actions__set div:hover {
  color: #ef5b09;
  cursor: pointer;
}

@media (max-width: 768px) {
  .actions {
    display: flex;
    flex-direction: column;
  }
  .actions__set div:hover {
    color: inherit;
  }
}